.posts-wrapper {
  width: 90%;
  margin: 20px auto;
  float: left;
}
.post {
  width: 100%;
  margin: 20px auto;
  padding: 10px 5px 0px 5px;
  border: 1px solid green;
}
.post-info {
  margin: 10px auto 0px;
  padding: 5px;
}
.fa {
  font-size: 1.2em;
}
.fa-thumbs-down, .fa-thumbs-o-down {
  transform:rotateY(180deg);
}
.logged_in_user {
  padding: 10px 30px 0px;
}
i {
  color: blue;
}

.naslov {
	text-decoration: overline;
	color: blue;
	font-weight: bold;
}

.posts-wrapper img {
	max-width: 95%;
	height: auto;
}

.subredit {
	font-size: 0.8em;
	color: grey;
	font-weight: 100;
	text-decoration: underline;
}